= render "hero"
= render "kids_course_options"
= render "schools_info"
= render "kids_course_summaries"
= render "sign_up_form"
= render "teachers_course_summary"
= render "kids_coding_organizations"
= render "schools_case_study"
= render "out_of_school"
= render "kids_coding_q_and_a"
= render "shared/large_testimonials"
= render "shared/business_details"
