
<div class="container">
<h1>New Partner</h1>

<%= render 'form' %>

<%= link_to 'Back', partners_path %>
<partners0></partners0><partners-partial></partners-partial><partners-partial></partners-partial>
</div>
