.row
  .col-xs-12
    = label_tag "Please Review"
    p.booking-box-heading Personal Details
    p.booking-box-text <b>First name:</b> #{@booking.firstname}
    p.booking-box-text <b>Last name:</b> #{@booking.lastname}
    p.booking-box-text <b>Age:</b> #{@booking.age}
    p.booking-box-text <b>Email:</b> #{@booking.email}
    p.booking-box-text <b>Phone:</b> #{@booking.phone}
    p.booking-box-text <b>City:</b> #{@booking.city}
    p.booking-box-text <b>Country:</b> #{@booking.country}
.row
  .col-xs-12
    p.booking-box-heading Course Details
    p.booking-box-text <b>Course:</b> #{@booking.course_name}
    p.booking-box-text <b>Location:</b> #{@booking.course_location}
    p.booking-box-text <b>Intake:</b> #{@booking.days}, #{@booking.start_date}, End: #{@booking.finish_date}
    p.booking-box-text <b>Start:</b> #{@booking.start_date}
    p.booking-box-text <b>Finish:</b> #{@booking.finish_date}
    p.booking-box-text <b>Time:</b> #{@booking.start_time} - #{@booking.finish_time}
    p.booking-box-text <b>Price:</b> #{@booking.intake.course.get_price}
    br
- if @course.price > 0
  .row
    .form-group.input-field.col-xs-12
      = f.input :discount_code, placeholder: "Promo Code", label: "Have a promo code? Enter it here"
.row
  .form-group.input-field.col-xs-12
    = f.input :accept_terms, label: ("I accept the <a target='_blank' href='/terms-and-conditions'>Terms & Conditions</a>.").html_safe
