= render "hero"
= render "press_logos"
= render "course_options"
= render "shared/testimonials"
= render "shared/course_benefits"
= render "shared/sam_case_study"
= render "infographic"
= render "shared/large_testimonials"
= render "shared/partners"
= render "upcoming_courses"
= render "shared/business_details"
