= render "hero"
= render "press_logos"
= render "course_options"
/ = render "shared/testimonials"
= render "infographic"
= render "shared/partners"
= render "shared/upcoming_courses"
= render "shared/business_details"
= render "shared/latest_blog_posts"
