= render "fast_track/ft-mel/hero"
= render "fast_track/ft-mel/second_section"
= render "fast_track/ft-mel/who_is_this_for"
= render "fast_track/ft-mel/why_coder_factory_academy"
= render "fast_track/ft-mel/wit_scholarship"
= render "fast_track/ft-mel/download_course_guide"
= render "fast_track/ft-mel/our_instructors"
.hidden-sm-down
  = render "fast_track/ft-mel/course_breakdown"
= render "fast_track/ft-mel/student_case_study"
= render "fast_track/ft-mel/what_youll_learn"
= render "shared/partners"
= render "shared/business_details"
