= render "fast_track/index/hero"
= render "fast_track/index/second_section"
= render "fast_track/index/who_is_this_for"
= render "fast_track/index/why_coder_factory_academy"
= render "fast_track/index/download_course_guide"
= render "fast_track/index/our_instructors"
= render "fast_track/index/course_breakdown"
= render "fast_track/index/alumni_interview"
= render "fast_track/index/infographic"
= render "fast_track/index/what_youll_learn"
= render "fast_track/index/wit_scholarship"
= render "fast_track/index/partners"
= render "fast_track/index/testimonials"
= render "shared/business_details"
