= content_for :title, 'School programs for teachers and students'
= content_for :description, 'Master the power of tech: technology education for schools'
= content_for :twitter_title, 'School programs for teachers and students'
= content_for :twitter_description, 'Master the power of tech: technology education for schools'

= render "hero"
/ = render "schools_info"
= render "coding_curriculum_course_summaries"
= render "maker_space_course_summaries"
= render "teacher_training_course_summaries"
/ = render "sign_up_form"
/ = render "out_of_school"
/ = render "shared/large_testimonials"
= render "shared/business_details"
