= render "hero"
/ = render "schools_info"
= render "schools_course_summaries"
= render "sign_up_form"
/ = render "out_of_school"
/ = render "shared/large_testimonials"
= render "shared/business_details"
