.admin-sidebar {
  width: 20%;
  height: 100vh;
  background-color: #FFF;
  ul {
    padding: 0px;
  }
  li {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .btn-admin-sidebar {
    width: 70%;
  }
}
