@import "bootstrap";
@import "headings";
@import "font-awesome";
@import "form-styles";
@import "cta-styles";
@import "home-page";
@import "fast-track";

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: grey;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

header {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;

  img {
    display: inline !important;
  }
  li.nav-item {
    margin-right: 10px;
  }
  a.header-major-cta {
    background-color: #FFF;
    border: 2px solid #EC5037;
    border-radius: 5px;
    color: #EC5037 !important;
    font-size: 14px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }
  li.active:after {
    content: ' ';
    position: absolute;
    border: solid 10px transparent;
    border-top: solid 0px transparent;
    border-width: 10px;
    margin-top: 15px;
    border-color: #FFF transparent transparent transparent;
  }
  @media only screen and (max-width: 767px) {
    li {
      float: none !important;
      margin-left: 0px !important;
    }
  }
}

.content {
  padding-top: 61px;
  padding-bottom: 500px;
  @media only screen and (max-width: 767px) {
    padding-bottom: 750px;
  }
}

.footer {
  background-color: #333;
  color: #FFF;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 500px;
  @media only screen and (max-width: 767px) {
    height: 750px;
  }

  ul {
    padding: 0px;
  }
  li {
    list-style-type: none;
    color: #ADADAD;
  }
  input {
    margin: 0px;
  }
  .hs_email > label {
    display: inline-block !important;
  }
}

a {
  color: #38A9C7;
}
a:hover {
  color: white;
}
.img-circle {
  border-radius: 50%;
}
