@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import 'bootstrap/glyphicons';
@import "headings";
@import "font-awesome";
@import "form-styles";
@import "cta-styles";
@import "home-page";
@import "fast-track";
@import "admin";
@import "workshop";
@import "corporate";
@import "kids-coding";
@import "schools";
@import "misc-pages";
@import "blog";
@import "post";
@import "bookings";
@import "fast-track-payments";
@import "shared";
@import "timeline";
@import "dataTables";
@import "jquery-ui";

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

#header {
  top: 38px !important;
}
@media only screen and (max-width: 767px) {
  .nav-item {
    margin-top: 5px;
  }
}
ul.nav li.desktop-dropdown:hover > div.dropdown-menu {
    display: block;
}
.nav-item p {
  color: #000;
  font-size: 16px;
  margin: 0px;
}
.fast-track-link-m {
  margin-left: 20px;
}
.dropdown-menu {
  margin-top: 0px;
}
.dropdown-toggle::after {
  display: none !important;
}
body {
  background-color: #FFF;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.p-anchor {
  padding-top: 150px !important;
}
.m-anchor {
  margin-top: 150px !important;
}
.admin-content {
  padding-top: 81px;
}
.content {
  padding-top: 66px;
  padding-bottom: 600px;
  @media only screen and (max-width: 767px) {
    padding-bottom: 1500px;
  }
}

.footer {
  background-color: #000;
  color: #FFF;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 600px;
  @media only screen and (max-width: 767px) {
    height: 1500px;
  }

  ul {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h2 {
    margin-bottom: 20px;
  }
  li {
    list-style-type: none;
    color: #ADADAD;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  a.course-link {
    color: #EC5037;
  }

  a.course-link:hover {
    color: #38A9C7;
    text-decoration: none;
  }
  .footer-page-link {
    color: #ADADAD;
  }
  .footer-page-link:hover {
    color: #38A9C7;
    text-decoration: none;
  }
  input {
    margin: 0px;
  }
  .hs_email > label {
    display: inline-block !important;
  }
}

a {
  color: #38A9C7;
}
a:hover {
  text-decoration: none;
  color: #EC5037;
}
@media only screen and (max-width: 767px) {
  a {
    font-size: 18px;
  }
}
.img-circle {
  border-radius: 50%;
}
.social-media {
  padding-left: 10px;
  padding-right: 10px;
}
.blue-text {
  color: #38A9C7;
}
