.new-booking {
  padding-top: 70px;
  padding-bottom: 50px;

  h2 {
    color: #000;
  }
  .border {
    border-color: #EC5037;
    border-width: 2px 0px 0px 0px;
    border-style: solid;
    width: 60%;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .exp-col-1 {
    padding-right: 0px;
    input {
      text-align: center;
    }
  }
  .exp-col-2 {
    padding-right: 0px;
    padding-left: 5px;
    input {
      text-align: center;
    }
  }
  .cvc-col {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    input {
      text-align: center;
    }
  }
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  input[type="file"],
  textarea,
  select {
    margin-top: 0px;
  }
  .booking_people_attending .select {
    white-space: nowrap;
    font-size: 12px;
  }
  .stripe-input {
    margin-top: 10px !important;
  }
  .scd-cta-btn {
    padding: 5px 10px 5px 10px !important;
  }
  .scd-cta-btn:hover {
    padding: 3px 8px 3px 8px !important;
  }
  #payment_form {
    padding: 20px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #EEE;
  }
  a {
    display: inline-block;
    cursor: pointer;
  }
  .promo-code-status {
    margin-bottom: 0px;
  }
   #section-2 a {
    margin-top: 5px;
    margin-bottom: 10px;
   }
}

.booking-box {
  padding: 0;
}

.booking-box-heading {
  text-transform: uppercase;
  color: black;
  margin-top: 20px;
}

.booking-box-text {
  margin-bottom: 2px;
}

.enquiry-form {
  margin-top: 20px;
}

input.main-cta-btn.booking-cta {
  font-size: 18px;
  padding: 20px;
  height: auto;
}
