.corporate-hero {
  background-image: url(asset-path("first_cohort_orange.jpg"));
  background-size: 100% 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 60vh;

  .wrapper {
    padding: 10px;
  }
  h4 {
    padding-top: 20px;
    color: #000;
  }
  .bottom-boxes{
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-basis: 0;
  }
  .up-more {
    margin-top: -20px;
  }
  .top-boxes{
    display: flex;
    margin-bottom: -10px;
    padding: 0px;
    flex-basis: 0;
  }
  .box{
    margin: 5px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    background-color: #FFF;
    border-radius: 5px 5px 0px 0px;;
  }
  @media only screen and (max-width: 767px) {
    .box {
      padding: 20px;
      margin-top: 30px;
    }
  }
  @media only screen and (max-width: 767px) {
    h3 {
      font-size: 30px;
    }
  }
  .bottom-boxes .box{
    border-radius: 5px 5px;
  }
  .box-invisible{
    margin: 5px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
  }
  @media only screen and (max-width: 767px) {
    h4 {
      font-size: 28px;
    }
  }
  .text{
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    flex: 1;
  }
  .cost-primary {
    color: #EC5037;
  }
  .cost-secondary {
    color: #38A9C7;
  }
  .border-orange {
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: #EC5037;
    width: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .border-blue {
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: #38A9C7;
    width: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.demystify-summary {
  background-color: #FFF;
  padding-top: 50px;
  padding-bottom: 50px;
  @media only screen and (max-width: 767px) {
    .col-md-6 {
      text-align: center;
    }
    .hs-button {
      margin-bottom: 10px;
    }
    input {
      text-align: center;
    }
    .border {
      text-align: center;
    }
  }

  .anchor {
    margin-bottom: 100px;
  }
  h5 {
    color: #000;
  }
  .center-image {
    vertical-align: middle;
  }
  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .border {
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: #EC5037;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .no-list-icons {
    list-style: none;
    padding: 0px;
    color: #ADADAD;
    font-size: 14px;
  }
  p {
    margin-bottom: 0px;
  }
  .dash-list-icons {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    color: #ADADAD;
    font-size: 14px;
  }
  .dash-list-icons > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
  }
}
.latest-blog-posts {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #EEE;

  h5 {
    color: #000;
  }
  .blog-post-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media only screen and (max-width: 767px) {
    .blog-post-container {
      flex-direction: column;
    }
  }
  .blog-post-box {
    background-color: #333;
    width: 20%;
    margin: 10px;
  }
  @media only screen and (max-width: 767px) {
    .blog-post-box {
      width: 60%;
    }
  }
  .img-blog-post-author {
    border-style: solid;
    border-color: #FFF;
    border-width: 3px;
    width: 25%;
    height: 25%;
    margin-top: -40px;
  }
  .post-image {
    height: 200px;
  }
  .post-details {
    height: 220px;
  }
  .unknown-blog-author {
    margin-top: -40px;
  }
  .written-by {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 12px;
    color: #ADADAD;
  }
  .author-name {
    font-size: 14px;
    color: #FFF;
  }
  .post-details {
    padding: 20px;
  }
  h6 {
    color: #FFF;
  }
}
