.corporate-hero {
  background-image: url(asset-path("first_cohort_orange.jpg"));
  background-size: 100% 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 60vh;

  .wrapper {
    padding: 10px;
  }
  .bottom-boxes{
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-basis: 0;
  }
  .up-more {
    margin-top: -20px;
  }
  .top-boxes{
    display: flex;
    margin-bottom: -10px;
    padding: 0px;
    flex-basis: 0;
  }
  .box{
    margin: 5px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    background-color: #FFF;
    border-radius: 5px 5px 0px 0px;;
  }
  @media only screen and (max-width: 767px) {
    .box {
      padding: 20px;
      margin-top: 30px;
    }
  }
  @media only screen and (max-width: 767px) {
    h3 {
      font-size: 30px;
    }
  }
  .bottom-boxes .box{
    border-radius: 5px 5px;
  }
  .box-invisible{
    margin: 5px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
  }
  @media only screen and (max-width: 767px) {
    h4 {
      font-size: 28px;
    }
  }
  .text{
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    flex: 1;
  }
  .cost-primary {
    color: #EC5037;
  }
  .cost-secondary {
    color: #38A9C7;
  }
  .border-orange {
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: #EC5037;
    flex-direction: column;
    flex: 1;
    width: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .border-blue {
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: #38A9C7;
    flex-direction: column;
    flex: 1;
    width: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.demystify-summary {
  background-color: #FFF;
}
.corporate-partners {
  background-color: #FFF;

  h5 {
    color: #000;
  }
  .corporate-logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.telstra-promo {
  background-color: #FFF;
  h5 {
    color: #000;
  }
}
.corporate-q-and-a {
  background-color: #FFF;
  h5 {
    color: #000;
  }
  .q-and-a-row {
    display: flex;
  }
  .q-and-a-box {
    flex: 1;
    padding: 10px;
    margin: 5px;
    background-color: #EEE;
  }
  .question {
    color: #000;
  }
}
.latest-blog-posts {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #EEE;

  h5 {
    color: #000;
  }
  .blog-post-container {
    display: flex;
    justify-content: center;
  }
  .blog-post-box {
    background-color: #333;
    width: 20%;
    margin: 10px;
  }
  .img-blog-post-author {
    border-style: solid;
    border-color: #FFF;
    border-width: 3px;
    width: 25%;
    height: 25%;
    margin-top: -30px;
  }
  .post-details {
    padding: 20px;
  }
}
