.main-cta-btn {
  background-color: #EC5037;
  border-radius: 5px;
  color: #FFF;
  font-size: 18px;
  padding: 20px;
}
.main-cta-btn:hover {
  background-color: #FFF;
  color: #EC5037;
  text-decoration: none;
}
.main-mobile-cta-btn {
  background-color: #EC5037;
  border-radius: 5px;
  color: #FFF;
  font-size: 14px;
  padding: 10px;
}
.scd-cta-btn {
  background-color: #FFF;
  border-radius: 5px;
  color: #EC5037;
  font-size: 18px;
  padding: 20px;
}
.scd-cta-btn:hover {
  background-color: #EC5037;
  color: #FFF;
  text-decoration: none;
}

.hero-video-btn {
  margin-left: 30px;
  color: white;
  font-size: 18px;
}
.hero-video-mobile-btn {
  margin-left: 30px;
  color: white;
  font-size: 14px;
}
.hero-video-btn:hover {
  color: white;
}
.hero-video-mobile-btn:hover {
  color: white;
}

.course-option-button {
  background-color: rgba(0, 0, 0, 0.7);
  color: #EEE !important;
  text-align: justify;
  padding: 5px;
  width: 90%;
  margin: auto;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  font-size: 12px;
}
.course-option-button:hover {

}

.course-option-cta-1 {
  width: 100%;
  text-align: center;
  background-color: rgba(236, 80, 55, 0.7);
  padding: 10px;
  a {
    color: #FFF !important;
  }
}
.course-option-cta-1:hover {

}

.course-option-cta-2 {
  width: 100%;
  text-align: center;
  background-color: rgba(56, 169, 199, 0.7);
  padding: 10px;
  a {
    color: #FFF !important;
  }
}
.course-option-cta-2:hover {

}
.course-option-cta-3 {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  a {
    color: #FFF !important;
  }
}
.course-option-cta-3:hover {

}
