h1, h2, h3, h4, h5, h6, h7 {
  margin: 0px;
}

h1 {
  color: #FFF;
  font-size: 30px;
}
h2 {
  color: #FFF;
  font-size: 26px;
}
h3 {
  color: #FFF;
  font-size: 24px;
}
h4 {
  color: #ADADAD;
  font-size: 18px;
}
h5 {
  color: #FFF;
  font-size: 18px;
}
h6 {
  color: #EC5037;
}
p {
  color: #ADADAD;
  font-size: 12px;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 22px;
    padding: 5px;
  }

  h2 {
    font-size: 20px;
    padding: 5px;
  }
  h3 {
    font-size: 18px;
    padding: 5px;
  }
  h4 {
    font-size: 17px;
    padding: 5px;
  }
  h5 {
    font-size: 14px;
    padding: 5px;
  }
  h6 {
  }
  a {
    font-size: 11px;
  }
}  


.header {

/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 400px) {

 .alert-nav {
    padding-top: 2vh !important;
    padding-bottom: 2vh !important;
  }

  .primary-nav {
    top: 50px !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
  }

}

/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 641px) {

 .alert-nav {
    padding-top: 2vh !important;
    padding-bottom: 2vh !important;
  }

  .primary-nav {
    top: 50px !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
  }

}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
 .alert-nav {
    padding-top: 2vh !important;
    padding-bottom: 2vh !important;
  }

  .primary-nav {
    top: 40px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  } 

}


  .alert-nav {
    background-color: #EC5037;
    width: 100%;
    position: fixed;
    text-align: center;
    top: 0px;
    z-index: 9999;

    h5 {
      color:white;
      padding: 0px;
    }

    a {
      color: #333;
    }

    a:hover {
      color: white;
    }

  }

  .primary-nav {
    background-color: #FFF;
    width: 100%;
    z-index: 9999;
    position: fixed;

    a:hover {
      text-decoration: none;
      color: #38A9C7 !important;
    }
    img {
      display: inline !important;
    }
    a {
      color: #000;
    }
    .active {
      color: #38A9C7;
    }
    a.header-major-cta {
      color: #EC5037 !important;
      border: 2px solid #EC5037;
      font-size: 14px;
      padding: 12px;
      border-radius: 5px;
    }
    nav-item {
    }
    a.active:after {
      content: ' ';
      position: absolute;
      border: solid 10px transparent;
      border-top: solid 0px transparent;
      border-width: 10px;
      margin-top: 50px;
      margin-left: -20px;
      border-color: #FFF transparent transparent transparent;
    }
    button {
      color: #38A9C7;
    }
    button:focus {
      outline: 5px auto #38A9C7;
    }
    @media only screen and (max-width: 767px) {
      li {
        float: none !important;
        margin-left: 0px !important;
        display: flex;
        vertical-align: middle;
        text-align:center;
        font-size: 14px;
        padding-top: 12px;
        padding-bottom: 12px;
      }

      .nav-link {
        font-size: 14px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align:center;
      }   
    }
  }

}
