.hero {
  background-image: url(asset-path('main-header-bg.jpg'));
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #FFF;

  .video-mobile {
    font-size: 20px !important;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -20px;
  }
  .options-container {
    display: flex;
  }
  .hero-btns {
    margin-top: 30px;
  }
  .hero-cards {
    margin-top: 30px;
  }
  .hero-card {
    width: 30% !important;
    background-color: rgba(0,0,0,0.7);
    padding: 15px;
    margin-top: 60px;
    color: white;
  }
  .hero-card-middle {
    margin-left: 5%;
    margin-right: 5%;
    width: 30% !important;
    background-color: rgba(0,0,0,0.7);
    padding: 15px;
    margin-top: 60px;
    color: white;
  }
  .hero-card-mobile {
    background-color: rgba(0,0,0,0.7);
    padding: 15px;
    color: white;
    margin-top: 15px;
    margin: auto;
  }
}
.press-logos {
  background-color: #EEE;
  padding-top: 10px;
  padding-bottom: 10px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container .press-logo {
    display: inline-block;
    line-height: 50px;
  }
}
.press-logos-mobile {
  background-color: #EEE;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .press-logo {
    margin: 10px;
  }

}
.course-options {
  background-color: #333;
  padding-top: 50px;
  padding-bottom: 50px;

  .container {
    display: flex;
  }
  .course-option-heading {
    width: 90%;
    margin: auto;
  }
  .course-option-1, .course-option-2, .course-option-3, .course-option-4 {
    background-color: #EC5037;
   flex: 1;
  }
  .course-option-1, .course-option-2, .course-option-3 {
    padding-top: 200px;
  }
  .course-option-4 {
    padding-top: 100px;

    .course-option-4-content {
      text-align: center;
      color: white;
      width: 90%;
      margin: auto;

      p {
        font-size: 14px;
      }

      hr {
        width: 50%;
        height: 2px;
        color: #FFF;
        background-color: #FFF;
      }
    }

  }
  .course-option-1 {
    background-image: url(asset-path('foundOutMore1.jpg'));
    background-position: bottom;
  }
  .course-option-2 {
    background-image: url(asset-path('foundOutMore2.jpg'));
    background-position: top;
  }
  .course-option-3 {
    background-image: url(asset-path('foundOutMore3.jpg'));
    background-position: center;
  }
}
.testimonials {
  background-color: #EEE;
  padding-top: 70px;
  padding-bottom: 70px;

  h3, h5 {
    color: #333;
  }
  #testimonial-images {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
  }
  hr {
    width: 5%;
    height: 1px;
  }
  .img-circle {
    border-radius: 50%;
  }
  .active-testimonial {
    width: 100%;
    height: 100%;
  }
  .inactive-testimonial {
    width: 75%;
    height: 75%;
    -webkit-filter: grayscale(100%);
    -webkit-filter: brightness(40%);
  }
  p {
    color: #ADADAD;
  }
  .quote {
    width: 50%;
  }
  .testimonial-button {
    cursor: pointer;
  }
}
.infographic {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #FFF;
  h1 {
    color: #000;
  }
}
.upcoming_courses {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #EEE;

  .container {
    display: flex;
  }
  p {
    color: #EEE;
  }
  .col-md-3 {
    background-color: #333;
    background-clip: content-box;
  }
  .price-text {
    padding: 10px;
    background-color: #EC5037;
    color: #FFF;
    border-radius: 5px;
  }
  .taught-by {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 12px;
    color: #ADADAD;
  }
  .teacher-name {
    font-size: 14px;
    margin-top: 5px;
  }
  .course-1, .course-2, .course-3, .course-4 {
    margin: auto;
    background-color: #333;
    flex: 1;
  }
  .course-1-image, .course-2-image, .course-3-image, .course-4-image {
    background-image: url(asset-path('shortCoursesHeaderImage.jpg'));
    width: 100%;
    height: 200px;
    padding: 10px;
  }
  .course-teacher-image {
    border-style: solid;
    border-color: #FFF;
    border-width: 3px;
    width: 25%;
    height: 25%;
    margin-top: -30px;
  }
  .course-info {
    margin-top: 20px;
  }
  .course {
    width: 100%;
    margin: auto;
    margin-top: 10px;
  }
  .col-md-8 {
    padding-left: 0px;
  }
  .course i {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #EC5037;
  }
  .course p {
    font-size: 15px;
  }
}
.business-details {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;

  h5 {
    color: #333;
    margin-top: 25px;
  }
  .hs-form {
    width: 100%;
    .form-columns-2 {
      width: 100%;
      margin: 0px;
      box-sizing: inherit;
    max-width: 100%;
    }
  }
  .hs_hs_persona > label {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    @extend .pull-left;
  }
  .hs_hs_persona > .input > select {
    margin-top: 5px;
  }
  .hs_campus_preference > label {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    @extend .pull-left;
  }
  .hs_campus_preference > .input > select {
    margin-top: 5px;
  }
  .hs-button {
    @extend .pull-right;
    @media only screen and (max-width: 767px) {
      float: none;
    }
  }
  @media only screen and (max-width: 767px) {
    p, h5, .hs-button{
      display: block;
      text-align: -webkit-center !important;
    }
  }
}
