.hero {
  background-image: url(asset-path('people-working.jpg'));
  background-size: cover;
  min-height: 60vh;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #FFF;

  h1, h4, h3 {
    margin-top: 10px;
    color: #FFF;
  }
  .hero-btns {
    margin-top: 40px;
  }
  .hero-cards {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
  }
  @media only screen and (max-width: 767px) {
    .hero-cards {
      margin-top: 70px;
      flex-direction: column;
    }
  }
  .hero-card {
    background-color: rgba(0,0,0,0.7);
    background-size: 100%;
    padding: 30px;
    color: white;
    max-width: 33%;
  }
  @media only screen and (max-width: 767px) {
    .hero-card {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
  .img-hero-card {
    margin-right: 20px;
  }
  @media only screen and (max-width: 767px) {
    .img-hero-card {
      max-width: 25%;
    }
  }
  .hero-card-title {
    color: #FFF;
    font-size: 14px;
    line-height: 28px;
  }
  @media only screen and (max-width: 767px) {
    .hero-card-title {
      font-size: 14px;
    }
  }
  p {
    margin-top: -10px;
    margin-bottom: 0px;
  }
}
.press-logos {
  background-color: #EEE;
  padding-top: 10px;
  padding-bottom: 10px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container .press-logo {
    display: inline-block;
    line-height: 50px;
  }
}
.press-logos-mobile {
  background-color: #EEE;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .press-logo {
    margin: 15px;
  }

}
.course-options {
  background-color: #333;
  padding-top: 50px;
  padding-bottom: 50px;
  @media only screen and (max-width: 767px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  h5 {
    margin-bottom: 10px;
  }
  .course-boxes {
    display: flex;
    flex-direction: row;
  }
  @media only screen and (max-width: 767px) {
    .course-boxes {
      flex-direction: column;
    }
  }
  .course-option-heading {
    width: 90%;
    margin: auto;
  }
  .course-option-1, .course-option-2, .course-option-3, .course-option-4 {
    background-color: #EC5037;
    flex: 1;
  }
  .course-option-1, .course-option-2, .course-option-3 {
    padding-top: 200px;
  }
  @media only screen and (max-width: 767px) {
    .course-option-heading {
      padding-bottom: 200px;
    }
    .course-option-1, .course-option-2, .course-option-3 {
      padding-top: 250px;
    }
    .course-option-1, .course-option-2, .course-option-3, .course-option-4 {
      width: 100vw;
      margin-top: 20px;
    }
  }
  .course-option-4 {
    padding-top: 100px;

    .course-option-4-content {
      text-align: center;
      color: white;
      width: 90%;
      margin: auto;

      p {
        font-size: 14px;
        color: #FFF;
      }

      hr {
        width: 50%;
        height: 2px;
        color: #FFF;
        background-color: #FFF;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .course-option-4 {
      padding-top: 200px;
      padding-bottom: 200px;
      h3 {
        font-size: 28px;
      }
      p {
        font-size: 20px !important;
      }
    }
  }
  .course-option-1 {
    background-image: url(asset-path('man-coding-1.jpg'));
    background-size: cover;
    background-position: bottom;
  }
  .course-option-2 {
    background-image: url(asset-path('foundOutMore2.jpg'));
    background-size: 100% 100%;
    background-position: bottom;
  }
  .course-option-3 {
    background-image: url(asset-path('kids-tablet.jpg'));
    background-size: cover;
    background-position: top;
  }
  @media only screen and (max-width: 767px) {
    h5 {
      font-size: 26px;
    }
    .course-option-button {
      font-size: 18px;
    }
  }
}
.infographic {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #FFF;

  h2 {
    color: #000;
  }
  a {
    margin-top: 20px;
  }
}
