.new-post {
  padding-top: 50px;
  padding-bottom: 50px;

  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  input[type="file"],
  select {
    margin-top: 0px;
  }

  .post_publish label {
    padding-left: 10px;
  }
}
