.course-benefits {
  background-color: #FFF;
  padding-top: 50px;
  padding-bottom: 50px;

  .benefit-icon {
    color: #38A9C7;
  }
  .benefit-icon-middle {
    color: #EC5037;
  }
}
.sam-case-study {
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 80px;

  p {
    line-height: 17px;
  }
  .quote-border {
    border-style: solid;
    border-width: 30px 0px 0px 0px;
    border-color: #EC5037;
    width: 90%;
    margin-bottom: 20px;
  }
  .quote-text {
    color: #EC5037;
    font-size: 34px;
    line-height: 30px;
    b {
      font-weight: 550;
    }
  }
  .quote-name {
    color: #000;
    font-size: 14px;
  }
  .alumni-interview-name {
    font-size: 24px;
    color: #000;
  }
  .alumni-interview-heading {
    color: #EC5037;
  }
}
.large-testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(asset-path('tiledBG.jpg'));

  h3 {
    color: #FFF;
    margin-bottom: 50px;
  }
  @media only screen and (max-width: 767px) {
    h3 {
      margin-bottom: 0px;
      font-size: 26px;
    }
  }
  .img-testimonial {
    width: 15%;
    margin-right: 15px;
  }
  @media only screen and (max-width: 767px) {
    .img-testimonial {
      width: 25%;
      margin-top: 50px;
    }
  }
  .testimonial-paragraph {
    line-height: 40px;
    font-size: 18px;
    color: #FFF;
  }
  .cta-row {
    margin-top: 50px;
  }
}
.testimonials {
  background-color: #EEE;
  padding-top: 50px;
  padding-bottom: 50px;

  .active-testimonial-content > a {
    color: #000;
    cursor: pointer;
  }
  .active-testimonial-content > a:hover {
    color: #FFF;
    text-decoration: none;
  }
  .testimonial-play {
    vertical-align: middle;
    color: #EC5037;
  }
  h3, h5 {
    color: #333;
  }
  #testimonial-images {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
  }
  hr {
    width: 2%;
    height: 1px;
  }
  .active-testimonial {
    width: 95%;
    height: 95%;
  }
  .inactive-testimonial {
    width: 70%;
    height: 70%;
    -webkit-filter: grayscale(100%);
    -webkit-filter: brightness(40%);
  }
  .active-testimonial-content {
    display: block;
  }
  .inactive-testimonial-content {
    display: none;
  }
  p {
    color: #ADADAD;
  }
  .quote {
    width: 50%;
  }
  .testimonial-button {
    cursor: pointer;
  }
  .testimonial-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.mobile-testimonials {
  background-color: #EEE;
  padding-top: 70px;
  padding-bottom: 70px;

  h3, h5 {
    color: #333;
  }
  #mobile-testimonial-images {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  hr {
    width: 5%;
    height: 1px;
  }
  .img-circle {
    border-radius: 50%;
  }
  .mobile-active-testimonial {
    display: block;
  }
  .mobile-inactive-testimonial {
    display: none;
  }
  .mobile-testimonial-switch {
    display: flex;
    align-items: center;
  }
  p {
    color: #ADADAD;
  }
  .testimonial-button {
    cursor: pointer;
  }
  .mobile-active-testimonial > a {
    color: #000;
    cursor: pointer;
  }
  .mobile-active-testimonial > a:hover {
    color: #FFF;
    text-decoration: none;
  }
  .testimonial-play {
    vertical-align: middle;
    color: #EC5037;
  }
}
.corporate-partners {
  background-color: #FFF;
  padding-top: 50px;
  padding-bottom: 50px;

  h5 {
    color: #000;
  }
  .corporate-logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  @media only screen and (max-width: 767px) {
    .corporate-logo-container {
      flex-direction: column;
    }
  }
}
.telstra-promo {
  background-color: #FFF;
  padding-top: 50px;
  padding-bottom: 50px;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #EEE;

  .img-telstra {
    width: 30%;
  }
  #david-thodey-quote img {
    width: 20%;
    margin-right: 10px;
  }
  #david-thodey-quote {
    margin-top: 10px;
  }
  h5 {
    color: #000;
    font-size: 24px;
  }
  @media only screen and (max-width: 767px) {
    .mobile-center {
      text-align: center;
    }
  }
}
.q-and-a {
  background-color: #FFF;
  padding-top: 50px;
  padding-bottom: 50px;

  h5 {
    color: #000;
    padding-bottom: 20px;
  }
  .q-and-a-row {
    display: flex;
  }
  .q-and-a-row-mobile {
    display: flex;
    flex-direction: column;
  }
  .q-and-a-box {
    flex: 1;
    padding: 10px;
    margin: 5px;
    background-color: #EEE;
  }
  .question {
    color: #000;
  }
}
.business-details {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;

  h5 {
    color: #333;
    margin-top: 25px;
  }
  .hs-form {
    width: 100%;
    .form-columns-2 {
      width: 100%;
      margin: 0px;
      box-sizing: inherit;
      max-width: 100%;
    }
  }
  .hs_hs_persona > label {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    @extend .pull-left;
  }
  .hs_hs_persona > .input > select {
    margin-top: 5px;
  }
  .hs_campus_preference > label {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    @extend .pull-left;
  }
  .hs_campus_preference > .input > select {
    margin-top: 5px;
  }
  .hs-button {
    @extend .pull-left;
    @media only screen and (max-width: 767px) {
      float: none;
    }
  }
  @media only screen and (max-width: 767px) {
    p, h5, .hs-button{
      display: block;
      text-align: -webkit-center !important;
    }
  }
}
.blog-sidebar {
  .promos {
  }
  .box-1 {
    padding: 20px;
    background-color: #38A9C7;
    margin-bottom: 5px;
    h3 {
      color: #000;
    }
    p {
      margin-top: 10px;
      color: #FFF;
      font-size: 18px;
    }
    .privacy {
      font-size: 12px;
      color: #ADADAD;
    }
    a {
      color: #FFF;
    }
  }
  .box-2 {
    padding: 20px;
    background-color: #333;
    margin-top: 5px;
    p {
      margin-top: 10px;
      font-size: 16px;
    }
  }
}
.pagination {
  a, em {
    margin-left: 5px;
    margin-right: 5px;
    color: #FFF;
  }
  .previous_page, .next_page {
    text-transform: uppercase;
  }
  a:hover {
    text-decoration: none;
    border-style: solid;
    border-color: #EC5037;
    border-width: 2px 2px 2px 2px;
    color: #EC5037;
    background-color: #FFF;
    padding: 3px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .previous_page, .next_page, a, em {
    border-radius: 5px;
    background-color: #EC5037;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .current, .disabled {
    border-style: solid;
    border-color: #EC5037;
    border-width: 2px 2px 2px 2px;
    color: #EC5037;
    background-color: #FFF;
    padding: 3px;
    padding-left: 18px;
    padding-right: 18px;
  }
}
.partners-partial {
  padding-top: 50px;
  padding-bottom: 50px;

  h3 {
    color: #000;
  }
  .row {
    margin-top: 10px;
  }
  .more {
    color: #ADADAD;
    font-size: 18px;
  }
  .more:hover {
    color: #38A9C7;
    text-decoration: none;
  }
}
.upcoming-courses {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #EEE;

  .upcoming-courses-container {
    display: flex;
    flex-direction: row;
  }
  @media only screen and (max-width: 767px) {
    .upcoming-courses-container {
      flex-direction: column;
      align-items: center;
    }
    .upcoming-course {
      width: 75% !important;
    }
  }
  .upcoming-course {
    background-color: #333;
    margin: 10px;
    width: 25%;
  }
  h3 {
    color: #000;
  }
  .course-header {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 150px;
    background-size: 100% 100%;
  }
  .price-text {
    padding: 10px;
    background-color: #EC5037;
    color: #FFF;
    border-radius: 5px;
  }
  .taught-by {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 12px;
    color: #ADADAD;
  }
  .teacher-name {
    font-size: 14px;
    color: #FFF;
  }
  .course-teacher-image {
    border-style: solid;
    border-color: #FFF;
    border-width: 3px;
    width: 60px;
    height: 60px;
    margin-top: -30px;
  }
  .fa-stack {
    width: 60px;
    height: 60px;
    margin-top: -30px;
  }
  .course-info {
    margin-top: 20px;
    color: #FFF;
    display: flex;
    flex-direction: column;
  }
  .upcoming-course-icon {
    vertical-align: middle;
    color: #EC5037;
    margin-right: 0px;
    margin-left: 10px;
  }
  .course-info p {
    line-height: 30px;
    color: #FFF;
  }
  .days-text {
    line-height: 16px !important;
  }
}
.latest-blog-posts {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #EEE;

  h5 {
    color: #000;
  }
  .blog-post-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media only screen and (max-width: 767px) {
    .blog-post-container {
      flex-direction: column;
    }
  }
  .blog-post-box {
    background-color: #333;
    width: 30%;
    margin: 10px;
  }
  .fa-circle {
    color: #ADADAD;
  }
  @media only screen and (max-width: 767px) {
    .blog-post-box {
      width: 60%;
    }
  }
  .img-blog-post-author {
    border-style: solid;
    border-color: #FFF;
    border-width: 3px;
    width: 25%;
    height: 25%;
    margin-top: -40px;
  }
  .post-image {
    height: 200px;
  }
  .post-details {
    height: 220px;
  }
  .unknown-blog-author {
    margin-top: -40px;
  }
  .written-by {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 12px;
    color: #ADADAD;
  }
  .author-name {
    font-size: 14px;
    color: #FFF;
  }
  .post-details {
    padding: 20px;
  }
  h6 {
    color: #FFF;
  }
}
.rto-code {
  font-size: 11px;
}
