.workshop-hero {
  background-image: url(asset-path("first_cohort_black.jpg"));
  background-size: 100% 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 60vh;

  .border {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: rgba(173, 173, 173, 0.3);
  }
  .wrapper {
    padding: 10px;
  }
  .bottom-boxes{
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-basis: 0;
  }
  .up-more {
    margin-top: -20px;
  }
  .top-boxes{
    display: flex;
    margin-bottom: -10px;
    padding: 0px;
    flex-basis: 0;
  }
  .box{
    margin: 5px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    background-color: #FFF;
    border-radius: 5px 5px 0px 0px;;
  }
  .bottom-boxes .box{
    border-radius: 5px 5px;
  }
  .box-invisible{
    margin: 5px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
  }
  .text{
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    flex: 1;
  }
  h4 {
    color: #000;
  }
  .cost-primary {
    color: #EC5037;
  }
  .cost-secondary {
    color: #38A9C7;
  }
}
.course-summaries {
  background-color: #FFF;
  padding-top: 50px;
  padding-bottom: 50px;
  .row {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
